<!DOCTYPE html>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/frontLayout}"
>
<body>

<div layout:fragment="content">
    <form method="post" th:action="@{/restaurants/new}" th:object="${restaurantForm}">
        <div class="mb-3">
            <label th:for="name" class="form-label">식당명</label>
            <input type="text" class="form-control" th:classappend="${#fields.hasErrors('name')} ? 'is-invalid' : ''" th:field="*{name}"/>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
        </div>
        <div class="mb-3">
            <label th:for="area" class="form-label">지역</label>
            <select class="form-select" th:classappend="${#fields.hasErrors('area')} ? 'is-invalid' : ''" th:field="*{area}">
                <option th:each="restaurantType : ${T(me.ryeong.ggjm.domain.RestaurantArea).values()}"
                        th:value="${restaurantType}"
                        th:text="${restaurantType.displayValue}"
                ></option>
            </select>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></div>
        </div>
        <div class="mb-3">
            <label th:for="type" class="form-label">구분</label>
            <select class="form-select" th:classappend="${#fields.hasErrors('type')} ? 'is-invalid' : ''" th:field="*{type}">
                <option th:each="restaurantType : ${T(me.ryeong.ggjm.domain.RestaurantType).values()}"
                        th:value="${restaurantType}"
                        th:text="${restaurantType.displayValue}"
                ></option>
            </select>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></div>
        </div>
        <div class="mb-3">
            <label th:for="let" class="form-label">let</label>
            <input type="text" class="form-control" th:classappend="${#fields.hasErrors('let')} ? 'is-invalid' : ''" th:field="*{let}"/>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('let')}" th:errors="*{let}"></div>
        </div>
        <div class="mb-3">
            <label th:for="lng" class="form-label">lng</label>
            <input type="text" class="form-control" th:classappend="${#fields.hasErrors('lng')} ? 'is-invalid' : ''" th:field="*{lng}"/>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('lng')}" th:errors="*{lng}"></div>
        </div>
        <div class="d-flex justify-content-end">
            <button class="btn btn-sm btn-primary" type="submit">등록</button>
        </div>
    </form>
</div>

</body>
</html>
