<!DOCTYPE html>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/frontLayout}"
>

<div layout:fragment="content">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 mb-3">
        <div class="col" th:each="restaurant : ${page.content}">
            <div class="card h-100">
                <!--<img src="..." class="card-img-top" alt="...">-->
                <div class="card-body">
                    <a th:href="@{'/restaurants/' + ${restaurant.id}}">
                        <h5 class="card-title" th:text="${restaurant.name}">식당 이름</h5>
                    </a>
                    <!--<p class="card-text">파티 설명</p>-->
                </div>
            </div>
        </div>
    </div>
    <div>
        <ul class="pagination" th:replace="common/frontFragment :: pagination"></ul>
    </div>
</div>
</body>
</html>
