<!DOCTYPE HTML>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <style>
        h1 {
            color: white;
        }

        #jumbotron {
            height: 400px;
            background: url("/images/salad-2756467_1920.jpeg") no-repeat center center;
            opacity: 0.8;
        }
    </style>
</head>
<body>
<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <span class="fs-4">굿끼제먹 s</span>
            <svg style="color: black" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-egg-fill" viewBox="0 0 16 16">
                <path d="M14 10a6 6 0 0 1-12 0C2 5.686 5 0 8 0s6 5.686 6 10z"/>
            </svg>
        </a>

        <ul class="nav">
            <li class="nav-item"><a th:href="@{/}" class="nav-link active" aria-current="page">홈</a></li>
            <li class="nav-item"><a th:href="@{/parties}" class="nav-link">파티 모집</a></li>
        </ul>
    </header>
    <div layout:fragment="content"></div>
</div>

<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>
