<!DOCTYPE html>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/frontLayout}"
>

<div layout:fragment="content">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        <div class="col">
            <div class="card h-100"
                 th:classappend="${party.partyMembers.size >= 3} ? 'border-primary' : ''"
                 th:each="party : ${page.content}"
            >
                <!--<img src="..." class="card-img-top" alt="...">-->
                <div class="card-body">
                    <a th:href="@{'/parties/' + ${party.id}}">
                        <h5 class="card-title" th:text="${party.name} + ' (' + ${party.partyMembers.size + 1} +'/4)'">파티 제목 (1/4)</h5>
                    </a>
                    <p class="card-text">파티 설명</p>
                    <span class="badge rounded-pill bg-primary">분식</span>
                    <span class="badge rounded-pill bg-secondary">명랑핫도그</span>
                </div>
            </div>
        </div>
    </div>
    <div>
        <ul class="pagination" th:replace="common/frontFragment :: pagination"></ul>
    </div>
</div>
</body>
</html>
