<!DOCTYPE html>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/frontLayout}"
>
<body>

<div layout:fragment="content">
    <div class="row row-cols-2 row-cols-md-4 row-cols-lg-6 g-4 justify-content-center">
        <div class="col">
            <div class="card h-50 border-0">
                <img th:src="@{/images/img.jpeg}" class="card-img-top rounded-circle" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center" th:text="${party.member.nickname}">Card title</h5>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
        <div class="col" th:each="i : ${#numbers.sequence(0, 2)}">
            <div class="card h-50 border-0">
                <img th:src="@{/images/img.jpeg}" class="card-img-top rounded-circle" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center" th:text="${partyMembers.size > i ? partyMembers[i].member.nickname : '대기중'}">Card title</h5>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <a class="btn btn-sm btn-primary" th:if="${!entered}" th:href="@{'/parties/' + ${party.id} + '/enter'}">파티 참가</a>
        <a class="btn btn-sm btn-primary" th:if="${entered}" th:href="@{'/parties/' + ${party.id} + '/leave'}">파티 탈퇴</a>
    </div>
</div>

</body>
</html>
